:root {
  --bg-color: #ecf;
}

p {
  font-family: 'Bitter', serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: 'Bree Serif', serif;
}

body {
  background-color: var(--bg-color);
}

header {
  margin-top: 8rem;
}

#site-title {
  font-size: 5vw;
  font-style: normal;
}

#project-grid {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
}

.project-grid-item {
  /* border: solid;
  border-radius: 3px; */
  padding: 1rem;

  display: block;
}

.project-grid-item:hover {
  text-decoration: none;
}

.has-demo > h2 > a::after {
  content: "DEMO";
  padding: 0.4rem 0.5rem;
  margin: 0.5rem;

  position: relative;
  bottom: 0.25rem;

  border-radius: 1rem;
  background-color: black;
  color: white;

  font-family: 'Bree Serif', serif;
  font-weight: bold;
  font-size: 8pt;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0.2rem;
  padding: 0.3rem;
  padding-top: 0.2rem;
  text-align: center;

  border: solid 3px black;
  border-radius: 3px;
  background-color: black;
  color: white;
  font-family: 'Bree Serif', serif;
  font-size: 10pt;
}

.tag:hover {
  text-decoration: none;
}

footer {
  /* border-top: solid; */

  margin-top: 2rem;
  padding: 2rem;

  text-align: center;

  left: 0;
  right: 0;
  bottom: 0;
}
