:root {
  --bg-color: #ecf;
  --headline-font: 'Bree Serif', serif;
  --body-font: 'Bree Serif', serif;
  --body-font-size: 14pt;
}

* {
  /* Bigger focus outlines */
  outline-width: 0.25em;
  outline-offset: 0.05em;
}

p, li {
  font-family: var(--body-font);
  font-size: var(--body-font-size);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headline-font);
}

h1 {
  font-size: 26pt;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-size: 20pt;
}

h4 {
  font-size: 16pt;
}

h5 {
  font-size: 15pt;
}

h6 {
  font-size: 14pt;
}

body {
  background-color: var(--bg-color);
}

header {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

main {
  margin: 0rem 10vw;
}

section {
  margin-bottom: 5rem;
}

#site-title {
  text-align: center;
  font-size: calc(1rem + 5vw);
  font-style: normal;

  animation: pulse-text 3s ease-in-out infinite alternate;
}

#site-title a {
  color: black;
}

@keyframes pulse-text {
  to {
    transform: scale(1.05);
  }

  from {
    transform: scale(1);
  }
}

#intro-section p {
  font-size: calc(var(--body-font-size) * 1.2);
}

#skills-section > ul {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 0;
}

#skills-section > ul > li {
  list-style: none; /* Top-level tags don't need bullets */
  padding: 0.75rem 0.5rem;
  flex-wrap: wrap;

  animation: pulse-text 2s ease-in-out infinite alternate;
}

#project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 5rem;
}

.project-grid-item {
  border: solid;
  border-radius: 3px;
  padding: 1rem;

  display: block;

  animation: jiggle 2s infinite alternate ease-in-out;
}

@keyframes jiggle {
  to {
    transform: skew(0) scale(1.01) rotate(-0.5deg);
  }
  
  from {
    transform: skew(1deg) scale(1) rotate(0.5deg);
  }
}

.project-grid-item:hover {
  text-decoration: none;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

/* 
  A details-tag is:

    <details>
      <summary> {{ summary text here}} </summary>
      <ul>
        <li><a href="...">{{ link text here }}</a></li>
        <li><a href="...">{{ link text here }}</a></li>
        <li><a href="...">{{ link text here }}</a></li>
      </ul>
    </details>
 */

details > summary:focus {
  /* Even though font color is white, focus using black b/c outline is outside the details box */
  outline-color: black;
}

details[open] {
  background-color: transparent;
  color: black;
  border: 3px solid black;
  border-radius: 3px;
  padding: 0.3rem;
}

details > summary {
  margin: 0.2rem;
  padding: 0.3rem;
  padding-top: 0.2rem;
  text-align: center;

  border: solid 3px black;
  border-radius: 3px;
  background-color: black;
  color: white;
  font-family: var(--headline-font);
  font-weight: bolder;
}

details > ul {
  margin: 0;
}

details > ul > li {
  text-align: left;
  margin-left: -1rem;
  font-family: var(--headline-font);
  font-weight: bolder;
  list-style: disc;
}

.tag:hover {
  text-decoration: none;

  animation: spin-a-bit 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes spin-a-bit {
  to {
    transform: rotate(0deg) scale(1.0);
  }

  from {
    transform: rotate(-3deg) scale(1.04);
  }
}

footer {
  margin-top: 2rem;
  padding: 2rem;

  text-align: center;

  left: 0;
  right: 0;
  bottom: 0;
}

/* The `.fab` class icons get replaced with svgs which have this class. */
.svg-inline--fa {
  animation: spin-a-bit 0.5s ease-in-out infinite alternate;
}

.highlighted::after {
  content: "👈";
  margin-left: 1rem;
}

.highlighted {
  animation: pop-in 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); /* overshoot */
}

@keyframes pop-in {
  from {
    transform: scale(5);
  }

  45% {
    transform: scale(0.9)
  }

  65% {
    transform: scale(1.1)
  }

  to {
    transform: scale(1)
  }
}

@counter-style decimal-paren {
  system: extends decimal;
  suffix: ") ";
}

ol {
  list-style: decimal-paren;
}