:root {
  --tree-ele-border-thickness: 0.2rem;
  --tree-ele-border-color: rgba(255, 255, 255, 0.8);
  --no-highlight-bg-color: rgba(0, 100, 255, 0.3);
  --highlight-bg-color: rgba(0, 100, 200, 0.5);
  --font-family: monospace;
}

* {
  font-family: var(--font-family);
  font-size: 1rem;
}

html {
  background-image: linear-gradient(to top right, #002, #008);
}

body {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

#tool-bar {
  grid-column: 1;
  grid-row: 1;
}

#tool-bar > ul {
  list-style: none;
  display: flex;
}

#tool-bar > ul > li {
  margin: 0.5rem;
}

button {
  background: var(--no-highlight-bg-color);
  color: white;
  padding: 0.5rem;
  border: solid var(--tree-ele-border-thickness) transparent;
  border-radius: 0.5rem;
  transition: 0.3s;
}

button:hover {
  background: var(--highlight-bg-color);
  border: solid var(--tree-ele-border-thickness) var(--tree-ele-border-color);
}

body section {
  grid-column: 1;
  grid-row: 2;
}

#tree-container {
  margin: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
}

#tree-container div {
  margin: 0.5rem 0.5rem;

  border-style: solid;
  border-radius: 8px;

  color: white;

  cursor: pointer;

  transition: 0.25s;
}

.tree-ele-no-highlight {
  background: var(--no-highlight-bg-color);
  border-color: transparent;
}

.tree-ele-highlight {
  background: var(--highlight-bg-color);
  border-color: var(--tree-ele-border-color);
}

.atom {
  padding: 1rem;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal > span {
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.horizontal, .vertical {
  padding: 1rem;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 50% !important;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 0 !important;
}

.selected {
  background-color: var(--highlight-bg-color);
  border-color: var(--tree-ele-border-color);
  border-style: dashed !important;
}
