<section id="skills-section">
  <h2>🔧 Technologies I Use</h2>
  <ul>
    {% for skill in site.data.skills %}
      <li>
        <details>
              {% for entry in site.data.project_tags %}
                {% if entry.names contains skill.name %}
                  <summary title="{{entry.more}}">{{ skill.name }}</summary>
                  <ul>
                  {% for synonym in entry.names %}
                    {% for project in site.featured_projects %}
                      {% if project.hidden == nil or project.hidden == false  %}
                        {% for tag in project.tags %}
                          {% if tag == synonym %}
                            <li>
                              <a
                                href="#{{project.title}}"
                                onclick="callout('{{ project.title }}')"
                              >{{ project.title }}</a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endfor %}
        </details>
      </li>
    {% endfor %}
  </ul>
</section>