<section id="skills-section">
  <h2>🔧 Technologies I Use</h2>
  <ul>
    {% for skill in site.data.skills %}
      <li>
        <details>
              {% for entry in site.data.project_tags %}
                {% if entry.names contains skill.name %}
                  <summary title="{{entry.more}}">{{ skill.name }}</summary>
                  <ul>
                  {% for synonym in entry.names %}
                    {% for other_project in site.featured_projects %}
                      {% if other_project.title != project.title  %}
                        {% for other_tag in other_project.tags %}
                          {% if other_tag == synonym %}
                            <li>
                              <a
                                href="#{{other_project.title}}"
                                onclick="callout('{{other_project.title}}')"
                              >{{ other_project.title }}</a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endfor %}
        </details>
      </li>
    {% endfor %}
  </ul>
</section>