<section id="statement-of-ethics">
  <h2>📜 Statement of Ethics</h2>
  <ol>
    <li>Software is not built in <a href="https://twitter.com/jendziura/status/1068165788148948993">a vacuum</a>. It is irresponsible to pretend the effects of code we write are entirely out of our control.</li>
    <li>If Hitler submits a pull request to your project, <a href="https://twitter.com/bluesmoon/status/1166424842276618240">you</a> <a href="https://twitter.com/alanajoy/status/1166424235218104321">should</a> <a href="https://twitter.com/dataandme/status/1166466534346317830">reject</a> <a href="https://twitter.com/EricaJoy/status/1166423232137715712">it</a>.</li>
    <li>Oppressive systems can evolve without their constituents knowing about them, so willful ignorance is bad.</li>
    <li>The position perfectly between two extremes has no more inherent worth than any other position. In fact, <a href="https://external-preview.redd.it/7mzd2S1dTUzhdo-4FuIwy00bU2BBg-VdB1d0dh1-6qM.jpg?auto=webp&s=518481b467eb74c2a8aa350363d11ab0f25fedbd">"neutrality helps the the oppressor, never the victim."</a></li>
  </ol>
</section>