html {
  background-image: linear-gradient(to top right, #0af, #0fa);
}

main {
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  grid-template-rows: 90vh 10vh;
  align-items: center;
}

#text {
  grid-column: 2;
  grid-row: 1;

  text-align: center;

  background: white;
  color: black;
  mix-blend-mode: screen;

  width: 100%;
  padding: 2rem 0;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 10rem;

  border: none;
  border-radius: 5px;
}

#controls {
  grid-column: 2;
  grid-row: 2;
}

#controls > input {
  display: block;
  width: 100%;
}
